<%= link_to gravatar_for current_user, size: Settings.user_info, current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("share.user"), current_user %></span>
<span><%= pluralize current_user.microposts.count, t("micropost.micropost_name") %></span>
