<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/"><%= t"suscess"%></a>
    <a href="http://www.michaelhartl.com/"><%= t"base_title"%></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("homeview"), "#" %></li>
      <li><%= link_to t("homeview"), "#" %></li>
    </ul>
  </nav>
</footer>
